body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to right, rgba(112, 45, 66, .5) 10%, rgba(78, 221, 150, .5) 90%, rgba(130, 130, 130, .4)100%);
}

